* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #102645;
    --secondary-color: #000000;
    --accent1-color: #979086;
    --accent2-color: #b7ac9b;
    --button-color: #d87d4a;
    --button2-color: #5b88b2;
    --background-color: #f2f2f2;
}

body {
    background: var(--background-color);
    font-family: "Raleway", sans-serif;
    line-height: 27px;
    font-size: 16px;
    display: block;
    height: 100%;
}

.grid {
    height: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto 1fr auto;
}

.grid > * {
    color: white;
    font-size: 18px;
}

.grid-header {
    grid-column: 1 / -1;
    background: var(--primary-color);
    font-family: "Playfair Display", serif;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    color: white;
    padding: 30px;
}

.grid-header h1 {
    display: inline-block;
    padding-bottom: 15px;
    letter-spacing: 1.5px;
}

.grid-navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 1rem 0;
}

.grid-navigation a {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 1.4px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s;
}

.grid-navigation a:hover {
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--button-color);
}

.grid-content {
    grid-column: 1 / span 2;
    margin: 20px;
    border-radius: 10px;
    color: var(--secondary-color);
    background-color: #e6e6e5;
}

.grid-content h2 {
    color: white;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2.5px;
    background: var(--primary-color);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 25px;
    margin: 0;
}

.grid-content h3 {
    text-align: center;
}

.grid-content .card-1,
.grid-content .card-2 {
    margin-bottom: 30px;
}

.grid-content .card-1 .content,
.grid-content .card-2 .content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 30px;
}

.grid-content .card-1 p {
    margin-top: 30px;
    padding-top: 20px;
}

.grid-content .main-picture,
.grid-content .flag {
    max-width: 200px;
}

.grid-content p {
    flex: 1;
    padding: 0;
}

.grid-content .flag {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.grid-aside {
    grid-column: 3 / 4;
    background-color: #e6e6e5;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    overflow-y: auto;
}

.grid-aside h2 {
    color: white;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2.5px;
    background: var(--primary-color);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    margin: 0%;
}

.grid-aside ul {
    margin: 40px 60px;
    justify-content: center;
    list-style-type: square;
}

.grid-aside ul li {
    margin: 15px 0;
}

.grid-aside ul::marker {
    color: var(--button-color);
}

.grid-aside ul a {
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
}

.grid-aside ul a:hover {
    font-weight: 700;
    border-bottom: 2px solid var(--button-color);
}

.grid-footer {
    grid-column: 1 / -1;
    background: var(--primary-color);
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    text-align: center;
}

.grid-footer p {
    font-size: 14px;
}
