@media screen and (min-width: 500px) {
    body {
        max-height: 100vh;
    }

    .hero {
        position: relative;
        height: 100vh;
        width: auto;
    }

    .hero img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        display: block;

    }

    section {
        padding: 0rem 2rem;
        background: rgba(255, 255, 255, 0.70);
    }

    h2 {
        background: rgba(91, 146, 178, 0.70);
        color: #fff;
        text-align: left;
        padding: 15px 15px;
        position: relative;
        left: -2rem;
        top: 0.5rem;
        border-radius: 5px;

    }

    .data,
    .weather {
        position: absolute;
        padding: 1rem;
        width: 250px;
        z-index: 10;
    }

    .data {
        top: 7em;
        left: 2em;
    }

    .weather {
        bottom: 3em;
        right: 2em;

    }

    .icon-container {
        transition: 0.3s;
    }

    .icon-container:hover {
        background: var(--button-color);
        border-radius: 5px;
    }





}